*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
#wrap{
    width: 1200px;
    height: 700px;
}
.head{
    display: flex;
    width: 1200px;
    height: 100px;
}
.head1{
    width: 200px;
    background-color: #333;
}
.head2{
    width: 800px;
    background-color: #645;
}
.head3{
    width: 200px;
    background-color: violet;
}
.main_01{
    height: 200px;
    background-color: turquoise
}
.main_02{
    display: flex;
    width: 100%;
    height: 300px;
}
.main1{
    width: 400px;
    background-color: tomato;
}
.main2{
    width: 400px;
    background-color: springgreen;
}
.main3{
    width: 400px;
    background-color: thistle;
}
.foot{
    display: flex;
    height: 100px;
    width: 100%;
}
.foot1{
    width: 200px;
    background-color: beige;
}
.foot2{
    width: 1000px;
    background-color: rebeccapurple;
}