/* 전체 */
.reserve-wrap {
  background: url(../images/reserve_bg_pc.png) no-repeat 50% 100%;
  width: 100%;

  overflow: hidden;
  position: relative;
  height: 400px;

  background-size: auto 353px;
}
.reserve-img {
  position: relative;
  /* background-color: red; */
  /* display: flex; */
  width: 1100px;
  margin: auto;
  padding-top: 100px;
  /* display: flex; */
}
.reser-text-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    z-index: 3;
}

.reser-text-box img {
    
  padding-bottom: 50px;
}
.reserve-img-box {
  position: absolute;
  top: 0;
  right: 0;
}
/* 자세히보기 */
.reser-text-box a {
  width: 125px;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 5%;
  color: #000;
  text-align: center;
  line-height: 38px;
}
.reser-text-box a:hover {
  transition: all 0.5s;
  background-color: #000;
  color: #fff;
  text-decoration: underline;
}
